BALE_BOT_TOKEN=
BALE_WEBHOOK_SECRET=

DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_STATIC_ROOT=staticfiles
DJANGO_MEDIA_URL=media/
DJANGO_MEDIA_ROOT=media
DJANGO_LOG_LEVEL=INFO
DJANGO_LOG_DIR=logs
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SESSION_COOKIE_SECURE=False
DJANGO_CSRF_COOKIE_SECURE=False
DJANGO_SECURE_HSTS_SECONDS=0
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=False
DJANGO_SECURE_HSTS_PRELOAD=False
DJANGO_SECURE_CONTENT_TYPE_NOSNIFF=True
DJANGO_USE_X_FORWARDED_PROTO=False

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
